<%- include ('partials/header.ejs') %>
  <title>Home</title>
  </head>


  <%- include ('partials/navbar.ejs') %>

    <div class="m-3">
      <h2>Seja bem-vindo ao Magic Trash!</h2>
    </div>
    <div class="p-3">
      <div class="card text-bg-success mb-3" style="max-width: 120rem;">
        <div class="card-body">
          <h5 class="card-title">Quem somos</h5>
          <p class="card-text">Time de ciências da computação Unip. 8º Semestre.</p>
        </div>
      </div>

      <div class="card text-bg-success mb-3" style="max-width: 120rem;">
        <div class="card-body">
          <h5 class="card-title">Nossa missão</h5>
          <p class="card-text">Realizar o trabalho de conclusão de curso - TCC. Desenvolver um modelo de IA para classificar lixo eletrônico.</p>
        </div>
      </div>

      <div class="card text-bg-success mb-3" style="max-width: 120rem;">
        <div class="card-body">
          <h5 class="card-title">Resumo</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

    </div>

    <div id="carouselExampleCaptions" class="carousel slide p-3" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner" >
        <div class="carousel-item active">
          <img src="/img/1.png" class="w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/2.png" class="w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/3.png" class="w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/4.png" class="w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <%- include ('partials/footer.ejs') %>