<%- include ('partials/header.ejs') %>
  <%- include ('partials/navbar.ejs') %>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="p-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Menu</li>
      </ol>
    </nav>

    <br>
    <div class="wrapper">
      <a href="/chat" class="card-test">Chat</a>
      <a href="/personal" class="card-test">Seu Perfil</a>
      <a href="/cadastro" class="card-test">Cadastro</a>
      <a href="/grafico" class="card-test">Gráfico</a>
    </div>
    <%- include ('partials/footer.ejs') %>