<%- include ('partials/header.ejs') %>
  <%- include ('partials/navbar.ejs') %>
  
  <div class="container">
    <br>
    <h3>Catalogar imagens</h3>
    <br>
    
    <table width="100%" style="margin-bottom: 7px;">
      <tr>
        <td colspan="2" style="padding-bottom: 10px;">
          <input type="file" class="form-control" onchange="abrir()">
        </td>
      </tr>
      <tr>
        <td>
          <img src="" alt="" id="imagem" width="250px" height="198px" style="border-radius: 5px">
        </td>
        <td width="80%">
          <textarea class="form-control" id="arquivos" rows="7" spellcheck="false"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="bg-secondary mt-2" style="padding: 5px;" align="right">
            <span id="resultado">...</span>
          </div>
        </td>
      </tr>

    </table>

    <table width="100%">
      <tr>
        <td width="82%"><input type="text" id="classe" class="form-control" placeholder="Nome da classe"></td>
        <td align="right"><button class="btn btn-secondary" onclick="classificar()">Classificar</button></td>
        <td align="right"><button class="btn btn-secondary" onclick="prever()">Prever</button></td>
      </tr>
    </table>
  </div>
  <script src="/js/action01.js"></script>
<%- include ('partials/footer.ejs') %>
